In [1]:
from uuid import uuid4, uuid5, UUID
from sqlite_utils import Database
import pandas as pd

In [2]:
uuid4()  # this is random

UUID('199109dc-8773-498c-aea9-d8630cc4a2fd')

In [3]:
FIXED_NAMESPACE = UUID('d5c0f985-3af0-4cfd-8012-560516582f0f') ## random UUID created from a call to uuid4()

In [4]:
assert uuid5(FIXED_NAMESPACE, "Test") == UUID('9e22cac9-9604-5497-8e13-ef0dba6eb82e')

# Check that the UUID is fixed for fixed inputs

In [5]:
 db = Database("../data/healthkit_db_2022_06_21.sqlite")

In [6]:
query_df = pd.read_sql_query("SELECT creationDate from workouts", db.conn)

In [7]:
query_df["creationDate"].iloc[0]

'2016-04-26 17:50:26 +1000'

In [8]:
assert uuid5(FIXED_NAMESPACE, query_df["creationDate"].iloc[0]) == UUID('544a0e64-e819-51d0-a2e0-6057b358de92')

In [9]:
query_df["uuid"] = query_df["creationDate"].apply(lambda dte: uuid5(FIXED_NAMESPACE, dte))

In [10]:
query_df

                  creationDate                                  uuid
0    2016-04-26 17:50:26 +1000  544a0e64-e819-51d0-a2e0-6057b358de92
1    2016-05-09 17:59:56 +1000  45a1aa4c-2b56-505c-b05a-d3add86b325c
2    2016-05-10 11:21:01 +1000  f4a90e4e-522d-5d1b-bf46-de92e2334750
3    2016-05-10 21:51:00 +1000  e216e01f-09e5-5ac0-8906-a5465f298563
4    2016-05-11 12:39:04 +1000  259ac303-55b5-5381-9321-d6b483013ed8
..                         ...                                   ...
960  2022-04-26 10:55:42 +1000  702018b6-27d0-5dfd-98bb-9d9076a5094e
961  2022-04-27 10:54:56 +1000  03cfecac-dd58-50ad-8c65-8d281b69a6e2
962  2022-04-29 11:16:44 +1000  dc1f4fbe-d66a-5c8b-b055-c1f0270c38d3
963  2022-06-15 09:59:39 +1000  ba043e9e-c29e-5002-b14d-d4f0aae0d20f
964  2022-06-16 10:59:20 +1000  2b41d3a0-955d-5c64-9685-15a8cba3584f

[965 rows x 2 columns]

In [11]:
query_df.nunique()

creationDate    965
uuid            965
dtype: int64