In [1]:
from uuid import uuid4, uuid5, UUID
from sqlite_utils import Database
import pandas as pd

In [2]:
uuid4()  # this is random

UUID('b16d22eb-93ed-46e9-98f2-de2c1e42159e')

In [3]:
FIXED_NAMESPACE = UUID('d5c0f985-3af0-4cfd-8012-560516582f0f') ## random UUID created from a call to uuid4()

In [4]:
assert uuid5(FIXED_NAMESPACE, "Test") == UUID('9e22cac9-9604-5497-8e13-ef0dba6eb82e')

# Check that the UUID is fixed for fixed inputs

In [5]:
 db = Database("../data/healthkit_db_2022_05_31.sqlite")

In [6]:
query_df = pd.read_sql_query("SELECT creationDate from workouts", db.conn)

In [7]:
query_df["creationDate"].iloc[0]

'2016-04-26 17:50:26 +1000'

In [8]:
assert uuid5(FIXED_NAMESPACE, query_df["creationDate"].iloc[0]) == UUID('544a0e64-e819-51d0-a2e0-6057b358de92')

In [9]:
query_df["uuid"] = query_df["creationDate"].apply(lambda dte: uuid5(FIXED_NAMESPACE, dte))

In [10]:
query_df

                  creationDate                                  uuid
0    2016-04-26 17:50:26 +1000  544a0e64-e819-51d0-a2e0-6057b358de92
1    2016-05-09 17:59:56 +1000  45a1aa4c-2b56-505c-b05a-d3add86b325c
2    2016-05-10 11:21:01 +1000  f4a90e4e-522d-5d1b-bf46-de92e2334750
3    2016-05-10 21:51:00 +1000  e216e01f-09e5-5ac0-8906-a5465f298563
4    2016-05-11 12:39:04 +1000  259ac303-55b5-5381-9321-d6b483013ed8
..                         ...                                   ...
958  2022-03-23 13:55:32 +1000  2524e6ba-65a2-5c5c-9020-dcd7bff1b226
959  2022-04-13 11:14:47 +1000  1b49fee1-2d01-53fc-b853-4d3ae5c0ff41
960  2022-04-26 10:55:42 +1000  702018b6-27d0-5dfd-98bb-9d9076a5094e
961  2022-04-27 10:54:56 +1000  03cfecac-dd58-50ad-8c65-8d281b69a6e2
962  2022-04-29 11:16:44 +1000  dc1f4fbe-d66a-5c8b-b055-c1f0270c38d3

[963 rows x 2 columns]

In [11]:
query_df.nunique()

creationDate    963
uuid            963
dtype: int64

In [12]:
workouts_summary = pd.read_csv("../data/workouts_summary.csv")

In [13]:
workouts_summary_06_21 = pd.read_csv("../data/workouts_summary_06_21.csv")

In [21]:
workouts_summary["uuid"].sort_values()

177    003b7a83-1514-55f1-b525-c8a6dfd1fc56
254    008827cf-8785-5b46-b517-73ba492f4756
195    009b4a44-f103-514d-a8f3-5a9ad64cd7c0
450    00a83cdc-2c43-52d8-a928-aef16d1cf612
49     00b6bacb-f0f2-5e5e-bc5c-2bcb40777843
                       ...
513    fdcff3b2-df21-515f-a817-cf2711b512f0
200    fe7618fd-6097-594c-8221-3dad47267e7d
65     ff32c04a-77fe-5f74-8300-e91008365f59
514    ff6fdfcf-244d-54ab-a579-d3da88e72149
50     ffedbafc-b067-5fab-bfaa-d982de10a481
Name: uuid, Length: 683, dtype: object

In [22]:
workouts_summary_06_21["uuid"].sort_values()

364    003b7a83-1514-55f1-b525-c8a6dfd1fc56
486    008827cf-8785-5b46-b517-73ba492f4756
544    009b4a44-f103-514d-a8f3-5a9ad64cd7c0
260    00a83cdc-2c43-52d8-a928-aef16d1cf612
174    00b6bacb-f0f2-5e5e-bc5c-2bcb40777843
                       ...
303    fdcff3b2-df21-515f-a817-cf2711b512f0
250    fe7618fd-6097-594c-8221-3dad47267e7d
52     ff32c04a-77fe-5f74-8300-e91008365f59
454    ff6fdfcf-244d-54ab-a579-d3da88e72149
353    ffedbafc-b067-5fab-bfaa-d982de10a481
Name: uuid, Length: 685, dtype: object

In [20]:
sum(workouts_summary["uuid"].isin(workouts_summary_06_21["uuid"]))

683